@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
body {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(45, 35, 65), rgb(30, 25, 50));

}
html {
  scroll-behavior: smooth;
}
a {
  color: #c084f5;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}
